Your registration. Please confirm your account.
<html>
<head>
    <title>Your Acmesport registration</title>
    <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-15">
</head>
<body>


<br/>
Dear {{name}},<br/>
Thank you for your registration with our shhop.<br/>
In order to complete your registration, please confirm your account by clicking the following link : {{{url}}}.<br/>
We hope to see you again soon on our site.<br/>

Yours,<br/>
Your Team.<br/>
</body>
</html>