<div>
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div style="padding:0px 3px;">
				<label for="authorizeNetLogin">API Login ID</label>
			</div>
			<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
				<input type="text" class="form-control" id="authorizeNetLogin" placeholder="API Login ID" value="{{cbParam.apiLoginId}}" onchange="anetChangeLogin()" errorMessage="Authorize Net API Login ID and Transaction Key are related!"/>
			</div>
		</div>
		<div class="form-group">
			<div style="padding:0px 3px;">
				<label for="authorizeNetTransactionKey">Transaction Key</label>
			</div>
			<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
				<input type="text" class="form-control" id="authorizeNetTransactionKey" placeholder="Transaction Key" value="{{cbParam.transactionKey}}" onchange="anetChangeTransactionKey()" errorMessage="Authorize Net API Login ID and Transaction Key are related!"/>
			</div>
		</div>
	</form>
</div>