@charset "UTF-8";
.popover {
    max-width: 1200px;
}

/* Header
****************************************************************/
#header {
    background: url(../images/style/bg_header.png);
    height: 100px;
}

#header img#logo {
    float: left;
    max-width: 240px;
    width: 100%;
    margin: 20px 10px 10px 20px;
}

#header div {
    padding: 60px 10px 0px 0px;
}

@media (max-width: 380px) {
    #header {
        height: 130px;
        background-size: 100%;
    }
    #header img#logo {
        margin-left: 5px;
    }
}

.editProfile .tab-pane{
    padding-top: 10px;
}

input:required:invalid{
    background-image: url(../images/uncheck.png);
    background-position: right center;
    background-repeat: no-repeat;
}

input:focus:invalid{
    border: 1px solid #DD3C10;
    color: #DD3C10;
}

input:required:valid {
    background-image: url(../images/check.png);
    background-position: right center;
    background-repeat: no-repeat;
}

input[type=date]:hover:invalid, input[type=month]:hover:invalid{
    border: 1px solid #DD3C10;
    color: #DD3C10;
}

input[type=date]:focus, input[type=date]:hover, input[type=month]:focus, input[type=month]:hover{
    background-image: none;
}

select:required:invalid{
    background-image: url(../images/uncheck.png);
    background-position: right center;
    background-repeat: no-repeat;
}

select:focus:invalid{
    border: 1px solid #DD3C10;
    color: #DD3C10;
}

select:required:valid {
    background-image: url(../images/check.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.details .form-control[readonly]{
	background-color: #FFFFFF;
	cursor: default;
}

.details .history .panel-body{
	padding: 0px;
}

.details .history .panel-body .table{
	margin-bottom: 0px;
}