<header ng-include src="'partials/header.html'"></header>
<div class="details">
	<div ng-if="selectedCustomer != null" class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">Customer Details</h3></div>
		<div class="panel-body">
			<form role="form" class="form-horizontal">
				<div class="form-group" style="margin-bottom: 0px;">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerName">First Name</label>
						<input type="text" class="form-control" id="detailsCustomerName" autofocus readonly value="{{selectedCustomer.firstName}}"/>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerName">Last Name</label>
						<input type="text" class="form-control" id="detailsCustomerName" autofocus readonly value="{{selectedCustomer.lastName}}"/>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerEmail">Email</label>
						<input type="email" class="form-control" id="detailsCustomerEmail" readonly value="{{selectedCustomer.email}}"/>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerBirthdate">Birth Date</label>
						<input type="text" class="form-control" id="detailsCustomerBirthdate" readonly value="{{selectedCustomer.birthDate | date:'dd/MM/yyyy'}}"/>
					</div>
				</div>
				<div class="form-group" style="margin-bottom: 0px;">
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerPhone">Phone</label>
						<input type="text" class="form-control" id="detailsCustomerBirthdate" readonly value="{{selectedCustomer.address.telephone.phone}}"/>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerPhone">Country</label>
						<input type="text" class="form-control" id="detailsCustomerBirthdate" readonly value="{{selectedCustomer.address.country}}"/>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:0px 5px; margin-bottom: 15px;">
						<label for="detailsCustomerPhone">Address</label>
						<input type="text" class="form-control" id="detailsCustomerBirthdate" readonly value="{{selectedCustomer.address.city}}, {{selectedCustomer.address.zipCode}}, {{selectedCustomer.address.road}}"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-if="selectedCustomer != null" class="history panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">History</h3></div>
		<div class="panel-body">
			<div class="table-responsive" ng-show="historyDetails.length > 0">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Email</th>
							<th>Date</th>
							<th>Price</th>
							<th>Card</th>
							<th>Transaction Status</th>
							<th>Delivery Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="record in historyDetails">
							<td>
								<a ng-if="selectedOrder.uuid != record.uuid" href="javascript:void(0);" ng-click="detailsSelectOrder($index);">{{record.uuid}}</a>
								<span ng-if="selectedOrder.uuid == record.uuid">{{record.uuid}}</span>
							</td>
							<td>{{record.customer.firstName}}</td>
							<td>{{record.customer.email}}</td>
							<td>{{record.transactionDate | date:'dd/MM/yyyy'}}</td>
							<td>{{record.currency.code}} {{record.amount * record.currency.rate}}</td>
							<td>
								<a href="javascript:void(0)" rel="popoverCard">{{record.creditCard.number}}</a>
								<div ng-if="record.creditCard != null" class="dialog" style="display:none;" ng-init="refreshCardPopover()">
									<div class="row">
										<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >Card Number:</label>
										<label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{record.creditCard.number}}</label>
									</div>
									<div class="row">
										<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Holder:</label>
										<label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{record.creditCard.holder}}</label>
									</div>
									<div class="row">
										<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> Expiration Date:</label>
										<label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{record.creditCard.expiryDate | date:'dd/MM/yyyy'}}</label>
									</div>
									<div class="row">
										<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Card Type:</label>
										<label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{record.creditCard.cardType}}</label>
									</div>
								</div>
							</td>
							<td>{{record.status}}</td>
							<td>{{record.deliveryStatus[0]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if="selectedOrder != null">
		<div class="panel-heading"><h3 class="panel-title">Order Details</h3></div>
		<div class="panel-body">
			<div class="form-group" style="margin-bottom: 0px;">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
					<label for="cartDetailsStatus">Status</label>
					<input type="text" class="form-control" id="cartDetailsStatus" autofocus readonly value="{{cartDetails.status}}"/>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
					<label for="cartDetailsPrice">Price</label>
					<input type="text" class="form-control" id="cartDetailsPrice" autofocus readonly value="{{cartDetails.price * cartDetails.currencyRate}}"/>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
					<label for="cartDetailsCurrency">Currency</label>
					<input type="email" class="form-control" id="cartDetailsCurrency" readonly value="{{cartDetails.currencyCode}}"/>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
					<label for="cartDetailsDate">Date</label>
					<input type="email" class="form-control" id="cartDetailsDate" readonly value="{{cartDetails.lastUpdated | date:'dd/MM/yyyy'}}"/>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="table-responsive" ng-show="cartDetails.cartItems.length > 0">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th ng-if="!isMerchant" style="width:30px;"><input type="checkBox" name="detailsRefundAll" ng-click="detailsRefundCheckAll()"/></th>
							<th>Name</th>
							<th>Basic Price</th>
							<th>End Price</th>
							<th>Quantity</th>
							<th>Returned Item(s)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cartDetails.cartItems">
							<td  ng-if="!isMerchant">
								<input ng-disabled="item.sumReturnedItems == item.quantity" type="checkBox" index="{{$index}}" name="detailsRefundOne" ng-click="detailsRefundCheckOne()"/>
							</td>
							<td>
								<div ng-if="item.bOProducts.length == 1">
									{{item.bOProducts[0].product.name}}/({{item.sku.sku}})
								</div>
								<div ng-if="item.bOProducts.length > 1">
									<a href="javascript:void(0)" rel="popoverProduts">{{item.bOProducts[0].product.name}} / ({{item.sku.sku}})</a>
									<div class="dialog" style="display:none;" ng-init="refreshProductsPopover()">
										<div ng-repeat="product in item.bOProducts" style="padding: 5px;">{{product.product.name}}</div>
									</div>
								</div>
							</td>
							<td>{{item.totalPrice * cartDetails.currencyRate}}</td>
							<td>{{item.totalEndPrice * cartDetails.currencyRate}}</td>
							<td>{{item.quantity}}</td>
							<td>
								<a href="javascript:void(0)" ng-if="item.BOReturnedItems.length > 0" ng-click="detailsSelectReturn($index);">Yes</a>
								<span ng-if="item.BOReturnedItems.length == 0">No</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="!isMerchant">
					<button class="btn btn-default pull-right" ng-click="returnSelectedItems()">Return selected items</button>
			</div>
		</div>
	</div>

<!-- Customer Block -->
	<div class="panel panel-default" ng-if="!isMerchant && returnDetails != null">
		<div class="panel-heading"><h3 class="panel-title">Return Details</h3></div>
		<div class="panel-body">
			<div class="form-group" style="margin-bottom: 0px;">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="padding:0px 5px; margin-bottom: 15px;">
					<label for="returnDetailsName">Name</label>
					<input type="text" class="form-control" id="returnDetailsName" autofocus readonly value="{{returnDetails.name}}"/>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="table-responsive" ng-show="returnDetails.returnedItems.length > 0">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Quantity</th>
							<!-- <th>Motivation</th> -->
							<th>Refunded</th>
							<th>Total Refunded</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in returnDetails.returnedItems">
							<td>{{item.quantity}}</td>
							<!-- <td>{{item.BOReturn[0].motivation}}</td> -->
							<td>{{item.refunded}}</td>
							<td>{{item.totalRefunded}}</td>
							<td ng-if="item.BOReturn.length == 1">{{returnStatusValues[item.BOReturn[0].status]}}</td>
							<td ng-if="item.BOReturn.length > 1">
								<a href="javascript:void(0)" rel="popoverBoRetun">{{returnStatusValues[item.BOReturn[0].status]}}</a>
								<div class="dialog" style="display:none;" ng-init="refreshBoRetunPopover()">
									<div ng-repeat="return in item.BOReturn" style="padding: 5px;">{{returnStatusValues[return.status]}}: {{return.motivation}}</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- End Of Customer Block -->
</div>