<a id="topOfPage"></a>
<header ng-include src="'partials/header.html'"></header>
<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Enter Query</h3></div>
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <div style="padding:0px 3px;">
                        <label for="listTransactionsEmail">Customer Email</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
                        <input type="email" class="form-control" id="listTransactionsEmail" autofocus/>
                    </div>
                </div>
                <div class="form-group" style="padding:0px 3px;">
                    <div style="padding:0px 3px;">
                        <label for="listTransactionsUUID">Transaction UUID</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
                        <input type="text" class="form-control" id="listTransactionsUUID"/>
                    </div>
                </div>
                <div class="form-group" style="padding:0px 3px;">
                    <div style="padding:0px 3px;">
                        <label for="listTransactionsAmount">Transaction Amount</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
                        <input type="text" class="form-control" id="listTransactionsAmount"/>
                    </div>
                </div>
                <div class="form-group" style="padding:0px 3px;">
                    <div style="padding:0px 3px;">
                        <label for="listTransactionsStatus">Transaction Status</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
                        <select class="form-control" id="listTransactionsStatus">
							<option value="">All</option> 
						</select>
                    </div>
                </div>
                <div class="form-group" style="padding:0px 3px;">
                    <div style="padding:0px 3px;">
                        <label for="listTransactionsDelivery">Delivery Status</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
                        <select class="form-control" id="listTransactionsDelivery">
							<option value="">All</option> 
						</select>
                    </div>
                </div>
                <div class="form-group">
                    <div style="padding:0px 3px;">
                        <label>Transaction occurred after</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding:0px 3px;">
                        <input type="date" class="form-control" id="listTransactionsStartDate"/>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding:0px 3px;">
                        <input type="time" class="form-control" id="listTransactionsStartTime" value="00:00"/>
                    </div>
                </div>
                <div class="form-group">
                    <div style="padding:0px 3px;">
                        <label>Transaction occurred before</label>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding:0px 3px;">
                        <input type="date" class="form-control" id="listTransactionsEndDate"/>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding:0px 3px;">
                        <input type="time" class="form-control" id="listTransactionsEndTime" value="23:59"/>
                    </div>
                </div>
                <div>
                    <input type="button" class="btn btn-default pull-right" value="Search" ng-click="listTransactionsSearch()"/>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive" ng-show="transactions.length > 0">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status / 3DSecure</th>
                <th>Payment Type</th>
                <th>Authorization</th>
                <th>UUID</th>
                <th>Response Code</th>
            </tr>
            </thead>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.transactionDate}}</td>
                <td>{{transaction.email}}</td>
                <td>{{transaction.amount}}</td>
                <td>
                    <a href="javascript:void(0)" ng-if="transaction.modifications.length > 0" rel="popoverStatus">{{transaction.status.name}} / {{transaction.status3DS.name}}</a>
                    <div class="dialog" style="display:none;" ng-if="transaction.modifications.length > 0" ng-init="refreshStatusPopover()">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th >Modification Date</th>
                                    <th>Client IP</th>
                                    <th >Previous status</th>
                                    <th >New status</th>
                                    <th >Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="modification in transaction.modifications">
                                    <td>{{modification.xdate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{modification.ipAddr}}</td>
                                    <td>{{modification.oldStatus.name}}</td>
                                    <td>{{modification.newStatus.name}}</td>
                                    <td>{{modification.comment}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <span ng-if="transaction.modifications.length == 0">{{transaction.status.name}} / {{transaction.paymentData.status3DS.name}}</span>
                </td>
                <td>
                    <a href="javascript:void(0)" rel="popoverCard">{{transaction.paymentData.paymentType.name}}</a>
                    <div ng-if="transaction.creditCard != null" class="dialog" style="display:none" ng-init="refreshCardPopover()">
                        <div class="row">
                            <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >Card Number:</label>
                            <label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{transaction.creditCard.number}}</label>
                        </div>
                        <div class="row">
                            <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Holder:</label>
                            <label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{transaction.creditCard.holder}}</label>
                        </div>
                        <div class="row">
                            <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5"> Expiration Date:</label>
                            <label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{transaction.creditCard.expiryDate | date:'dd/MM/yyyy'}}</label>
                        </div>
                        <div class="row">
                            <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Card Type:</label>
                            <label class="col-xs-7 col-sm-7 col-md-7 col-lg-7">{{transaction.creditCard.cardType.name}}</label>
                        </div>
                    </div>
                </td>
                <td>{{transaction.authorizationId}}</td>
                <td><a href="javascript:void(0)" ng-click="transactionGetLogs(transaction.uuid)">{{transaction.transactionUUID}}</a></td>
                <td>{{transaction.errorCodeOrigin}}</td>
            </tr>
        </table>
    </div>
</div>