<header ng-include src="'partials/header.html'"></header>

<div class="container-fluid">
	<fieldset>
		<legend>Sign up</legend>
		<form role="form" class="form-horizontal">
			<div class="form-group" ng-show="!isMerchant">
				<div style="padding:0px 3px;">
					<label for="signupSeller">Seller</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<select class="form-control" id="signupSeller" ng-model="signupSelectedSeller" ng-options="seller.id as seller.name for seller in allSellers" ng-hide="allSellers.length == 1" required>
						<option value="">None</option>
					</select>
					<input type="text" disabled class="form-control" ng-model="signupSelectedSeller" ng-show="allSellers.length == 1"/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupEmail">Email</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="email" class="form-control" id="signupEmail" placeholder="Enter email" required pattern="[a-zA-Z0-9._-]+\@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}"/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupPassword">Password</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="password" class="form-control" id="signupPassword" placeholder="Password" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupConfirmPassword">Confirm Password</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="password" class="form-control" id="signupConfirmPassword" placeholder="Confirm Password" required ng-blur="signupCheckPasswordConfrimation()"/>
				</div>
			</div>
			<div class="form-group" ng-if="isMerchant==true">
				<div style="padding:0px 3px;">
					<label for="signupCompanyName">Company Name</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupCompanyName" placeholder="Company Name" pattern="[^<]+" required/>
				</div>
			</div>
			<div class="form-group" ng-if="isMerchant==true">
				<div style="padding:0px 3px;">
					<label for="signupWebsite">Website</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupWebsite" placeholder="Website" pattern="https?://([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,4}((\/[^\/~,]+)+)?/?" required value="http://"/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupCivility">Civility</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<select id="signupCivility" class="form-control" ng-model="signupCivilityModel" ng-options="obj.name for obj in signupCivilityOptions"></select>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupFirstName">First name</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupFirstName" placeholder="First name" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupLastName">Last name</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupLastName" placeholder="Last name" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupBirthDate">Birthdate</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="date" class="form-control" max="{{signupMaxBirthDate}}" min="{{signupMinBirthDate}}" id="signupBirthDate" placeholder="Birthdate" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupCountry">Country</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<select id="signupCountry" class="form-control" required ng-model="signupCountriesModel" ng-options="obj.name for obj in signupCountriesOptions" ng-change="signupLoadStatesForCountry()">
						<option value="">None</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupState">State</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<select id="signupState" class="form-control" ng-model="signupStateModel" ng-options="obj.name for obj in signupStateOptions" ng-change="signupLoadRegionsForState()">
						<option value="">None</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupRegion">Region</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<select id="signupRegion" class="form-control" ng-model="signupRegionModel" ng-options="obj.name for obj in signupRegionOptions" >
						<option value="">None</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupCity">City</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupCity" placeholder="City" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupRoad">Road</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupRoad" placeholder="Road" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupPostalCode">Postal Code</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupPostalCode" placeholder="Postal Code" required/>
				</div>
			</div>
			<div class="form-group">
				<div style="padding:0px 3px;">
					<label for="signupPhoneNumber">Phone number</label>
				</div>
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 3px;">
					<input type="text" class="form-control" id="signupPhoneNumber" placeholder="Phone number" required ng-blur="signupCheckPhoneNumberForCountry()"/>
				</div>
			</div>
			<div class="form-group" ng-if="!isMerchant">
				<div style="padding:0px 3px;">
					<label for="signupWithShippingAddress">With Shipping Address</label>
					<input type="checkbox" id="signupWithShippingAddress"/>
				</div>
			</div>
		</form>
	</fieldset>
</div>

<!--
<div>
	<form role="form" class="form-horizontal">
		<img src="{{serverUrl}}simpleCaptcha/captcha" style="margin-left: 3px;"/><br/>
		<div class="form-group">
			<div style="padding:0px 18px;">
				<label for="captchaText">Type the letters above in the box below:</label>
			</div>
			<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6" style="padding:0px 18px;">
				<input type="text" class="form-control" id="captchaText" required />
			</div>
		</div>
	</form>
</div>
-->

<div class="row row-fluid" style="margin: 0px 0px 20px 0px;">
	<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
		<input type="button" class="btn btn-default pull-right" value="Sign up" ng-click="signupCreateProfile()"/>
	</div>
</div>
